<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>To-Do List</title>
</head>
<body>
<main>
    <div>
        <h1>My lists </h1>
        <!--this link creates new list and redirects to detail page for that list-->
        <p><a href="{% url 'todo_list_create' %}">Create a new list</a></p>
        <p><a href="{% url 'todo_item_create' %}">Create a new item</a></p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
            </thead>
            <tbody>
                {% for todo_list in todo_lists %}
                    <tr>
                        <td><a href="{% url 'todo_list_detail' id=todo_list.id %}">{{ todo_list.name }}</a></td>
                        <td>{{ todo_list.items.count }} </td>
                        <td><a href="{% url 'todo_list_update' id=todo_list.id %}">Edit</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
</body>
</html>
