<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Create Item</title>
</head>
<body>
    <main>
        <div>
            <h1>Create a new item</h1>
            <form method="post">
                {% csrf_token %}
                <label for="task">Task:</label>
                <input type="text" name="task" id="task">
                <br>
                <br>
                <label for="due_date">Due date:</label>
                <input type="text" name="due_date" id="due_date">
                <br>
                <br>
                <label for="is_completed">Is completed:</label>
                <input type="checkbox" name="is_completed" id="is_completed">
                <br>
                <br>
                <label for="list">List:</label>
                <select name="list" id="list">
                    {% for todo_list in todo_lists %}
                        <option value="{{ todo_list.id }}">{{ todo_list.name }}</option>
                    {% endfor %}
                </select>
                <br>
                <br>
                <button type="submit">Create</button>
            </form>
        </div>
    </main>
</body>
</html>
