<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Update Item</title>
</head>
<body>
    <main>
        <div>
          <h1>Update item</h1>
          <form method="post">
            {% csrf_token %}
            <label for="task">Task:</label>
            <input type="text" name="task" value="{{ form.task.value }}">
            <br>
            <br>
            <label for="due_date">Due date:</label>
            <input type="text" name="due_date" value="{{ form.due_date.value }}">
            <br>
            <br>
            <label for="is_completed">Is completed:</label>
            <input type="checkbox" name="is_completed" {% if form.is_completed.value %}checked{% endif %}>
            <br>
            <br>
            <label for="list">List:</label>
            <select name="list" id="list">
                {% for todo_list in todo_lists %}
                <option value="{{ todo_list.id }}">{{ todo_list.name }}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <button type="submit">Update</button>
          </form>
        </div>
      </main>
</body>
</html>
