<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Create New To-Do List</title>
</head>
<body>
  <main>
    <div>
      <h1>Create a new list</h1>
      <form method="POST">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"> <!-- idk if id here is needed-->
        <br>
        <br>
        <button type="submit">Create</button>
      </form>
    </div>
  </main>
</body>
</html>
