<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>To-Do List Detail</title>
</head>
<body>
  <main>
    <div>
        <h1>{{ todo_list.name }}</h1>
        <p><a href="{% url 'todo_list_update' id=todo_list.id %}">Edit</a></p>
        <a href="{% url 'todo_list_delete' id=todo_list.id %}">Delete</a>
        <h2>Tasks</h2>
        {% comment %} <p>Created on: {{ todo_list.created_on }}</p> {% endcomment %}
        <table>
            <thead>
              <tr>
                <th>Task</th>
                <th>Due Date</th>
                <th>Completed?</th>
              </tr>
            </thead>
            <tbody>
              {% for todo_item in todo_items %}
                <tr>
                    <!--
                        In this table, we're displaying the task, due_date, and is_completed fields for each to-do item.
                        We're also using the default filter and the yesno filter to handle cases where the due_date or is_completed fields are empty.
                    -->
                  <td><a href="{% url 'todo_item_update' id=todo_item.id %}">{{ todo_item.task }}</a></td>
                  <td>{{ todo_item.due_date|default:"N/A" }}</td>
                  <td>{{ todo_item.is_completed|yesno:"Yes,No" }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</main>
</body>
</html>
