<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>To-Do List Update</title>
</head>
<body>
    <main>
        <div>
          <h1>Update list</h1>
          <form method="post">
            {% csrf_token %}
            <input type="text" name="name" value="{{ todo_list.name }}">
            <br>
            <br>
            <button type="submit">Update</button>
          </form>
        </div>
      </main>
</body>
</html>
